
/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400&display=swap');
/*global css*/
*{
  padding: 0px;
  margin: 0px;
}
/* variable color & font-familly*/
:root{
  /*variable color*/  
  --primary-color: #363958;
  --secondary-color:#3E3E3E;
  --accent-color:#FFFBF0;
  --text-color:#FABE4C;
  --back-color:#94AE2F;
  --normal-color:#3C3C3C;

  /*font-family*/
  --primary-font:'Roboto', sans-serif;
  --secondary-font:'Bebas Neue', cursive;
}
.container{
    padding:3% 7% ;

}
/*Header-part*/
section#header-part {
  background-color: var(--accent-color);
  padding-bottom: 4%;
}
.header_area {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 291px;
  height: 39px;
}
.menu ul {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.menu ul li {
  list-style: none;
  padding: 0px 20px;
  font-size: 17px;
  font-family: var(--primary-font);
}
.menu ul li a {
  text-decoration: none;
  color: var(--normal-color);
}
/*banner-part*/
.banner_inner {
  display: flex;
  justify-content: space-between;
}
.banner_left {
  padding-top:13%;
}
.banner_left h2 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 73px;
  line-height: 80px;
  font-weight: bold;
  letter-spacing: 3px;
}
span{
  color: var(--text-color);
}
.banner_left p {
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 26px;
  font-family: var(--primary-font);
}
.banner_right img {
  width: 491px;
  height: 492px;
  padding-top: 30px;
}
a.butn {
  background-color: var(--back-color);
  color: white;
  padding: 13px 29px;
  text-decoration: none;
  display: inline-block;
  margin-top: 24px;
  border-radius: 7px;
  font-family: var(--primary-font);
}
::before {
  padding-right: 8px;
}
/* all product section*/
.title {
  font-family: var(--secondary-font);
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  color: var(--primary-color);
  letter-spacing: 1px;
  padding-bottom: 31px;

}
.ladies_product {
  display: flex;
  align-items: center;
}
.jacket_inner img {
  width: 100%;
  height: 293px;
  background: #F1F1F1;
  border-radius: 20px;
}
img.jacket-1 {
  padding: 14px 0;
}
img.jacker-2 {
  padding: 10px 0 16px 0;
}
img.jacker-3 {
  padding: 15px 0px;
}
.Description-product {
  display: inline-block;
}
.Description-product h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--primary-color);
  font-family: var(--primary-font);
  padding: 18px 0 13px 0;
}
.Description-product p {
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  padding-bottom: 12px;
}
.jacket_inner{
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding:12px 8px;
  width:370px;
  margin-right: 18px;
}
img.jacket {
  padding: 14px 0px;
}
.price_inner {
  display: flex;
}
.price_inner h3 {
  color: var(--text-color);
  padding: 10px 25px 0 4px;
  font-size: 36px;
  font-family: var(--primary-font);
  line-height:42px;
}
.price_inner a {
  margin: 10px 0 0 38px;
}

/*mans product*/
.Boys_product {
  display: flex;
  align-items: center;
}
/*last-section*/
.last_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 18px;
  margin-bottom: 17px;
}
a.main-icon {
  padding: 34px 10px 10px 0px;
  color: var(--text);
}

.content_inner h2 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: var(--primary-color);
}
.content_inner p {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 26px;
  color: var(--secondary-color);
  padding-top:8px
}
.content_right img {
  width: 599px;
  height: 354px;
}